body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Calibri;
}

body {
  background: linear-gradient(
    -45deg,
    #0079c0,
    #0097a7,
    #4285f4
  );
  color: #888;
}

.form-container {
  background: #eee;
  display: flex;
  width: 700px;
  margin: auto;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  top: 25%;
  position: relative;
  display: none;
}

.form-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container h1 {
  color: #0097a7;
  margin: 0px 5px;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}
label {
  font-weight: bold;
  float: left;
}
form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form-container p {
  padding: 5px 10px;
  margin: 2.5px 0px;
}

.form-container form {
  position: relative;

  padding: 10px;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  /* width: 70%; */
  padding: 7px 7px 7px 40px;
  margin: 5px 5px 10px 5px;
  outline: 1px solid #888;
  border: 0px solid #0000;
  border-radius: 5px;
}
.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus {
  outline: 2px solid #ffab40;
}

.form-container input[type="submit"]:hover {
  background: #ffab40;
}
#submit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container input[type="submit"] {
  width: 50%;

  font-weight: bold;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 5px;
  background: #55ecfc;
  cursor: pointer;
}
#error {
  position: absolute;
  background: #fcc;
  color: red;
  display: flex;
  width: 500px;
  left: 50%;
  top: calc(50% + 180px);
  transform: translate(-50%, 0%);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  user-select: none;
  padding: 20px;
  display: none;
}

.table-container {
  background: #eee;
  display: flex;
  width: 70%;
  margin: auto;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  top: 25%;
  position: relative;
}
table {
  border: 1px solid black;
  margin: 10px;
}

.table-container h1,
.table-container p {
  color: #0097a7;
  margin: 0px 5px;
  padding: 5px;
  text-align: center;
}
tr {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
